@import url("reset.css");

@import url("jquery.flipster.min.css");

@import url("slick.min.css");

@import url("slick-theme.min.css");

// COLORS
$lightgrey: #a9aaa9;
$mediumgrey: #212521;
$darkgrey: #18180f;
$accent: #bea77f;
$white: #fff;
$shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

// FONTS
$domine: Domine, serif;
$open: "Open Sans", sans-serif;

// LAYOUT
$widthmobile: 26.6rem;
$marginmobile: 2.8rem;

html {
    font-size: 62.5%;
}

body {
    background-color: #212521;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2318180f' fill-opacity='1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.container {
    max-width: 26.6rem;
    margin: 0 auto;

    &--hello {
        padding: 4rem $marginmobile;
        position: relative;
    }

    &--experience {
        position: relative;
    }

    &--skills {
        position: relative;
        margin-top: 13.5rem;
    }

    &--contact {
        position: relative;
        margin-top: 5rem;
        text-align: center;
    }
}

.section-header__container {
    position: absolute;

    &--hello {
        right: 0;
        bottom: 6rem;
    }

    &--skills {
        text-align: right;
        top: -9rem;
        left: -2.7rem;
    }

    &--contact {
        top: -9rem;
        right: -2.4rem;
    }
}

//GENERAL STYLES
a {
    text-decoration: none;
}

input, textarea {
    outline: none;
}

.link, .emphasis {
    font-family: $open;
    color: $accent;
    font-weight: bold;
}

.paragraph {
    font-family: $domine;
    color: $lightgrey;
    font-size: 1.2rem;
    line-height: 1.8rem;
    letter-spacing: -0.06rem;
}

.quote {
    text-align: center;
    font-size: 2rem;
    color: $accent;
    letter-spacing: -0.15rem;
    font-family: $domine;

    &--about {
        margin-top: 6.6rem;
    }

    &--project {
        margin-top: 6rem;
    }

    &--visit {
        margin: 2rem 0;
    }

    &__emphasis {
        font-family: $open;
        font-weight: bold;
        letter-spacing: -0.1rem;
        color: $white;
    }
}

.text-btn {
    border: none;
    background: none;
    font-family: $open;
    font-size: 1.2rem;
    font-weight: bold;
    color: $white;
    outline: none;
}

.logo {
    &--small {
        width: 2.9rem;
    }

    &--freecodecamp {
        width: 10.6rem;
        margin: 0.8rem 2.8rem 0 2.8rem;
    }

    &--codepen {
        width: 7.4rem;
    }
}

.section-header {
    &__text {
        font-family: $domine;
        color: $white;
        font-size: 5.2rem;
        letter-spacing: -0.4rem;
    }

    &__line {
        height: 0.2rem;
        width: 12.4rem;
        background: $accent;

        &--contact {
            width: 26.4rem;
        }
    }
}

//MENU
.menu--no-js {
    position: fixed;
    top: 0;
    z-index: 110;
    height: 4.8rem;
    width: 100%;
    background: $darkgrey;

    &__list {
        padding-top: 1.1rem;
    }

    &__list-item {
        font-family: $domine;
        font-size: 1.2rem;
        color: $white;
        display: inline-block;
        margin-left: 3.6rem;
        float: right;
        position: relative;
        top: 0.7rem;

        &:hover {
            padding-right: 0.5rem;
            border-right: 1px solid $accent;
            letter-spacing: 0.05rem;
        }
    }

    &__holder {
        width: 100%;
        height: 4.8rem;
    }
}

.menu--hidden {
    display: none;

    &__holder {
        flex: 1 1 30%;
    }

    &__btn {
        margin-top: 1.9rem;
        flex: 0 1 5.3rem;
        z-index: 99;
        transition: all 0.5s;

        &:hover {
            letter-spacing: 0.5rem;
        }
    }

    &__line {
        height: 0.1rem;
        background: $accent;
        margin-top: 2.8rem;
        flex: 1 1 30%;
    }
}

.menu--visible {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(33, 37, 33, 0.95) 0%, rgba(0, 0, 0, 0.95) 100%);
    z-index: 100;
    display: none;
    text-align: center;

    &__logo {
        margin-top: 1.7rem;
    }

    &__list-item {
        font-size: 5.2rem;
        font-family: $domine;
        color: $white;
        cursor: default;
        user-select: none;
    }

    &__carousel {
        position: relative;
        top: 2.4rem;
        height: 100vh;
        transform: translateX(-0.8rem);
    }
}

.flipster__item {
    &--current {
        padding-right: 0.5rem;
        border-right: 2px solid $accent;
    }
}

//ABOUT
.about {
    &__box {
        border: 1px solid $accent;
        font-family: $open;
        font-size: 2rem;
        font-weight: 300;
        color: $white;
        padding: 2.2rem 1.2rem 3.2rem 1.2rem;
        margin: 5.2rem auto;
        position: relative;
    }

    &__position-item {
        letter-spacing: -0.13rem;
        color: $accent;
        font-weight: bold;
    }

    &__in-training-item {
        font-family: $domine;
        font-size: 1.2rem;
        position: absolute;
        left: 18.8rem;
    }

    &__hello {
        background: $mediumgrey;
        position: relative;
    }

    &__profile-photo {
        margin-top: 1.5rem;
        margin-left: 1rem;
    }

    &__paragraph {
        &--experience {
            margin-top: 5rem;
            text-align: right;
        }
    }
}

//SKILLS
.skills {
    position: relative;
    margin-top: 4.7rem;

    &__card {
        display: none;
        box-sizing: border-box;
        height: 18.8rem;
        margin-top: 5rem;
        padding: 2.5rem 3rem;
        background: rgba(24, 24, 17, 0.7);
        border-radius: 2%;

        &--active {
            display: block;
        }
    }

    &__skill-name {
        display: inline;
        font-family: $open;
        font-size: 2rem;
        color: $white;
        font-weight: bold;
    }

    &__description-container {
        float: right;
        width: 13rem;
    }

    &__description-text {
        line-height: 1;
    }

    &__description-other-technologies {
        font-family: $open;
        color: $white;
        font-weight: bold;
    }

    &__project {
        color: $white;
        padding: 1.2rem 2.5rem;
        border: 2px solid $accent;
        border-radius: 2%;
        background: rgba(33, 37, 33, 0.7) url(../imgs/arrow.png) no-repeat 87% 77%;
        background-size: 1.5rem;
        margin-top: 1rem;
        transition: all 0.5s;
        box-shadow: $shadow;

        &:hover {
            background-position: 90% 77%;
            box-shadow: none;
        }
    }

    &__project-name {
        font-family: $open;
        font-weight: bold;
    }
}

//CONTACT
.contact {
    position: relative;

    &__paragraph {
        margin: 14.5rem 0 4rem 0;
    }

    &__box {
        background: $mediumgrey;
    }

    &__btn {
        transition: all 0.5s;

        &:hover {
            letter-spacing: 0.2rem;
        }
    }

    &__line {
        width: 0.2rem;
        height: 3rem;
        background: $accent;
        margin: 1.5rem auto 0 auto;
    }

    .form {
        &--contact {
            text-align: center;
            padding: 4.4rem 0;
        }

        &__input {
            border: none;
            border-bottom: 1px solid $accent;
            background: $mediumgrey;
            font-size: 2rem;
            font-family: $open;
            margin-bottom: 2.5rem;
            color: $lightgrey;

            &--textarea {
                border: 1px solid $accent;
                max-width: 23.6rem;
                height: 13.8rem;
            }
        }

        &__btn {
            display: block;
            margin: 0 auto;
            width: 24.4rem;
            background: $accent;
            border: none;
            height: 4rem;
            color: $white;
            font-family: $open;
            font-weight: bold;
            font-size: 1.2rem;
            box-shadow: $shadow;
            transition: box-shadow 0.5s;

            &:hover {
                box-shadow: none;
            }
        }
    }
}
